/* src/components/GridBackground/GridBackground.css */
.grid-wrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
}

.grid-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.699) 1px, transparent 1px), 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.699) 1px, transparent 1px);
  background-size: 28px 28px;
  opacity: 0.7;
  -webkit-mask-image: radial-gradient(
    ellipse 90% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
}